{{#each blogTeasers}}
<div class="blog-teaser">
  <h1 class="main-title">{{this.title}}</h1>
  {{{this.ingress}}}
  <div class="full-width blog-teaser-actions">
    <a href='#' class="">Read More</a>
    <div class="">{{this.createdDate}}</div>
  </div>
</div>
{{/each}}
