{{#each blogTeasers}}
<div class="blog-teaser">
  <h1 class="main-title">{{this.title}}</h1>
  {{{this.ingress}}}
  <div class="full-width blog-teaser-actions">
    <a href='{{this.path}}/' class="">Read More</a>
    <div class="">{{dateFormat this.createdAt "ll"}}</div>
  </div>
</div>
{{/each}}
