<!DOCTYPE HTML>
<head>
  <title>{{title}}</title>
  {{#each imports}}
    {{{this}}}
  {{/each}}
</head>
<body>
  <header>
    <div class="logo">blog</div>
  </header>
  <div class="main-container">
    {{{content}}}
  </div>
</body>
