<!DOCTYPE HTML>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="./blog.css">
</head>
<body>
  <header>
    <div class="logo">blog</div>
  </header>
  <div class="main-container">
    {{{content}}}
  </div>
</body>
